* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

.header {
    position: sticky;
    top: 0px;
    z-index: 1;
}

.navBar {
    height: 92px;
    background-color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 19px;
    font-weight: bold;
    text-decoration: none;
    align-items: end;
    display: inline-block;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.501);
}

.navBar:hover {
    box-shadow: 0px 0px 12px rgb(0, 0, 0);
}

a {
    cursor: pointer;
}

.LogoImg {

    height: 100px;
    width: 180px;
    position: relative;


}

#signIn {
    font-size: medium;
    padding: .3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-radius: 50px;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 186, 242);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

#SignUpImg {
    position: relative;
    margin-right: -15px;
    padding-left: 0.4rem;
    height: 30px;
    width: auto;
    cursor: pointer;
}

.yellowDiv {
    height: 70px;
    background-color: rgb(254, 220, 38);
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bolder;
    padding-top: 20px;
}

.blue {
    color: rgba(0, 136, 255, 0.826);
}

.midBox {
    height: 45em;
    width: auto;
    display: flex;
    position: relative;
    top: 5rem;
}

.leftbox {

    height: 20rem;
    width: 40rem;
    position: relative;
    left: 5rem;
    top: 1.1rem;

}

#midLogo {
    height: 90px;
    width: 90px;
    position: relative;
    left: 6rem;
    top: 10px;
}

.textLeftBox {
    display: inline-block;
}

#HeadingmidBox {
    font-size: 54px;
    font-weight: bolder;
    font-family: sans-serif;
    position: relative;
    top: 3rem;
    left: 5rem;
    border: 2px;
    display: inline-block;
}

#para {
    position: relative;
    font-size: 20px;
    font-weight: bolder;
    font-family: sans-serif;
    top: 4rem;
    right: 3.7rem;
    padding: 1.79rem;
    display: inline-block;
}

.downloadButton {
    width: 253px;
    height: 45px;
    color: rgb(255, 255, 255);
    display: inline-block;
    font-family: sans-serif;
    text-align: center;
    padding: 12px;
    position: relative;
    top: 10rem;
    left: -15rem;
    border-radius: 50px;
}

.DownloadTheApp {
    font-size: 17.2px;
    font-weight: bolder;
    font-family: sans-serif;
    padding: auto;
}

.downloadSection {
    height: 45px;
    width: 253px;
    background-color: black;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 5rem;
    left: 5rem;
    border-radius: 50px;
    font-family: sans-serif;
    cursor: pointer;
}

.downloadSection:hover {

    box-shadow: 0px 0px 15px black;
}

.Navnbarhover:hover {
    box-shadow: 0 5px 15px rgba(0, 41, 112, .1);

}

.downloadImg {
    height: 20px;
    width: 22px;
}

.rightBox {
    height: 476px;
    position: relative;
    left: 60rem;
    top: -40rem;
}

#SideImg {
    height: 476px;
    width: 528px;
}

.bigBox {
    width: auto;
    height: 340px;
    position: relative;
    bottom: 32rem;
}

#topBox1 {
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    background-color: rgb(0, 186, 242);

}

.topBoxFlex {
    height: 220px;
    width: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    top: 3rem;

}


#headingBigBox {
    position: relative;
    top: 3rem;
    left: 5rem;
}

.Boximg {
    height: 90px;
    width: 90px;
    cursor: pointer;
}

.BoxPara {
    text-align: center;
    font-size: medium;
    font-family: sans-serif;
    cursor: pointer;
}

#box4 {
    position: relative;
    top: 7px;
}

#parabox3 {
    position: relative;
    right: 1rem;
}

#paraBox5 {
    position: relative;
    text-align: center;
}

#img6 {
    position: relative;
    left: 0.5rem;
}

#img7 {
    position: relative;
    left: 0.5rem;
}

#topBox2 {
    background-color: rgba(0, 41, 99, 0.897);
}

.ImgBox2 {
    height: 90px;
    width: 90px;
    cursor: pointer;
}

.downFlexBox {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 5rem;
}

.paraDownFlexBox2 {
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    position: relative;
    top: 4px;
    text-align: center;
    cursor: pointer;

}

.headingBigBox2 {
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    position: relative;
    left: 5rem;
    top: 3rem;
}

.box3 {
    height: 1500px;
    width: auto;
    background-color: #F5F7FA;
    position: relative;
    top: 10.6rem;
}

#headingBigBox3 {
    font-size: 48px;
    font-family: sans-serif;
    position: relative;
    top: 5rem;
}

.midbox2 {
    height: 620px;
    width: 1170px;
    position: relative;
    top: 7rem;
    left: 11rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
}

.leftbox1 {
    height: 368px;
    width: 452px;
}

.ImgPaytmWallet {
    height: 80px;
    width: 95px;
}


.PaytmWallet {
    width: 5rem;
    display: flex;
    align-items: center;
    color: black;
    font-size: 17px;
    font-weight: bold;
    font-family: sans-serif;
}

.headerMidBox3 {
    height: 92px;
    width: 390px;
    border: 2px solid black;
    color: black;
    font-size: 36px;
}

#headingMidBox3 {
    width: 5rem;
    font-size: 31px;
    font-weight: bold;
    font-family: sans-serif;
    position: relative;
    top: 2rem;
}

#paraMidBox3 {
    font-size: 17px;
    font-weight: 500;
    font-family: sans-serif;
    position: relative;
    top: 3rem;
    display: inline-block;
    height: 3rem;
}

#downloadSection2 {
    position: relative;
    right: 5rem;
}


.rightBox1 {
    height: 455px;
    width: 460px;

}

#PaytmWalletRightBox1 {
    height: 466px;
    width: 543px;
}

.midbox4 {
    height: 620px;
    width: 1170px;
    background-color: white;
    position: relative;
    top: 10rem;
    left: 11rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.leftbox2 {
    height: 368px;
    width: 452px;
    position: relative;
    right: 4rem;
    top: 3rem;

}

.rightBox2 {
    height: 368px;
    width: 452px;
    position: relative;
    bottom: 2rem;
    right: -2rem;

}

.img2RightBox {
    height: 466px;
    width: 543px;
    position: relative;
    bottom: 2.1rem;
}

.ImgPaytmWallet {
    position: relative;

}

.box5 {
    height: 800px;
    width: auto;
    background-color: #F5F7FA;
    position: relative;
    top: 10rem;
}

.flexBox5 {
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

.leftBox3 {
    height: 700px;
    width: 561px;
    background-color: #fff;
    border-radius: 16px;
    position: relative;
    left: 2.5rem;
}

.paytmHDFCImg {
    width: 185px;
    height: 77px;
    position: relative;
    top: 4rem;
    left: 4rem;
}

.box5Heading {
    font-size: 41px;
    font-family: sans-serif;
    position: relative;
    top: 6rem;
    left: 4rem;
}

.box5para {
    width: 433px;
    height: 60px;
    font-size: 20px;
    font-family: sans-serif;
    position: relative;
    top: 7.8rem;
    left: 4rem;
}

.box5Subpara {
    width: 353px;
    height: 34px;
    font-size: 14px;
    font-family: sans-serif;
    color: rgb(117, 118, 127);
    position: relative;
    top: 8rem;
    left: 4rem;
}

.paytmHDFCBox {
    width: 463px;
    height: 296px;
    position: relative;
    top: 8.5rem;
    left: 4rem;
}

.rightBox3 {
    height: 700px;
    width: 561px;
    background-color: #fff;
    border-radius: 16px;
    position: relative;
    right: 4.5rem;
}

.PaytmSBIImg {
    height: 20px;
    width: 196px;
    position: relative;
    top: 8rem;
    left: 3rem;
}

.paraBox5Right {
    width: 433px;
    height: 60px;
    font-size: 20px;
    font-family: sans-serif;
    position: relative;
    top: 11rem;
    left: 3rem;
}

.box5HeadingRightBox {
    font-size: 41px;
    font-family: sans-serif;
    position: relative;
    top: 9.2rem;
    left: 3rem;
}

.box5SubparaRightBox {
    width: 353px;
    height: 34px;
    font-size: 14px;
    font-family: sans-serif;
    color: rgb(117, 118, 127);
    position: relative;
    top: 11rem;
    left: 3rem;
}

.PaytmSbiBoxImg {
    width: 463px;
    height: 296px;
    position: relative;
    top: 12rem;
    left: 4rem;
}

.box6 {
    height: 571px;
    width: auto;
    position: relative;
    top: 16rem;
}

.sentence {
    font-family: sans-serif;
    font-size: 48px;
    position: relative;
    top: 7rem;
    left: 10rem;
}

.Box6Img1Left {
    width: 212px;
    height: 40px;
    position: relative;
    top: 9rem;
    left: 10rem;
}

.headingBox6 {
    width: 468px;
    height: 100px;
    font-size: 41px;
    font-weight: bolder;
    font-family: sans-serif;
    position: relative;
    top: 12rem;
    left: 10rem;
}

.parabox6 {
    display: inline-block;
    width: 515px;
    height: 116px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 500;
    position: relative;
    top: 14rem;
    left: 10rem;
}

.LearnMoreButton {
    width: 162px;
    height: 49px;
    border-radius: 30px;
    text-align: center;
    background-color: rgb(0, 41, 112);
    position: relative;
    top: 16rem;
    left: 10rem;
}

.LearnMoreText {
    position: relative;
    top: 0.9rem;
    color: white;
    font-size: 17px;
    font-family: sans-serif;
}

.box6RightBox {
    width: 452px;
    height: 499px;
    position: relative;
    bottom: 13rem;
    left: 55rem;
}

.box7Bg {
    width: 1520px;
    height: 558px;
    position: relative;
    top: 27rem;
    z-index: -1;
    display: flex;
    background-color: #F5F7FA;
    position: relative;
    bottom: 2rem;
}

.bigBox7 {
    width: 438px;
    height: 428px;
}

.flexBox7 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.box7ImgLeft {
    width: 472px;
    height: 427.9px;
    position: relative;
    bottom: 5rem;

}

.imgBox7Logo {
    width: 156px;
    height: 54px;
    position: relative;
    bottom: 5rem;
}

#rightBox7 {
    width: 538px;
    height: 422px;
}

.headingBox7 {
    width: 390px;
    height: 138px;
    font-family: sans-serif;
    font-size: 40px;
    font-weight: 700;
    position: relative;
    bottom: 4rem;
}

.paraBox7 {
    width: 538.2px;
    height: 132px;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    position: relative;
    bottom: 3rem;
}

.LearnMoreButton2 {
    width: 162px;
    height: 49px;
    border-radius: 30px;
    text-align: center;
    background-color: rgb(0, 41, 112);
    position: relative;
    bottom: 1rem;
    cursor: pointer;
}

.Box8 {

    width: auto;
    height: 606px;
    background-color: white;
}

.flexbox8 {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 8rem;
}

.bigBox8 {
    width: 526px;
    height: 356px;
}

.Box8Logo {
    width: 182px;
    height: 54px;
    position: relative;
    top: 2rem;

}

.headingBox8 {
    width: 470px;
    height: 46px;
    font-family: sans-serif;
    font-size: 40px;
    font-weight: bolder;
    position: relative;
    top: 5rem;
}

.paraBox8 {
    font-size: 20px;
    color: black;
    font-family: sans-serif;
    font-weight: 500;
    line-height: 26px;
    position: relative;
    top: 6rem;
}

.LearnMoreButton3 {
    width: 162px;
    height: 49px;
    border-radius: 30px;
    text-align: center;
    background-color: rgb(0, 41, 112);
    position: relative;
    top: 7rem;
    cursor: pointer;
}

.box8Img {
    width: 433px;
    height: 398.5px;
}

.Box9 {
    width: auto;
    height: 645px;
    background-color: #F5F7FA;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexBox9 {
    width: 1170px;
    height: 597px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bigBox9 {
    width: 526px;
    height: 350px;

}

.box9Img {
    width: 433px;
    height: 437px;
}

.box9Logo {
    width: 188px;
    height: 54px;
    position: relative;
    top: 1rem;
}

.InBox9 {
    width: 474px;
    height: 284px;

}

.headingBox9 {
    width: 390px;
    height: 92px;
    font-size: 36px;
    font-family: sans-serif;
    color: black;
    font-weight: bold;
    position: relative;
    top: 4rem;
}

.paraBox9 {
    width: 526px;
    height: 50px;
    display: inline-block;
    font-size: 17px;
    font-family: sans-serif;
    color: black;
    font-weight: 540;
    position: relative;
    top: 5rem;
}

.LearnMoreButton4 {
    width: 162px;
    height: 49px;
    border-radius: 30px;
    text-align: center;
    background-color: rgb(0, 41, 112);
    position: relative;
    top: 7rem;
    cursor: pointer;

}